<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="MyAccess.Properties.Settings.DBAdminLoginConnectionString"
            connectionString="Data Source=LAPTOP-NF2JQDUU;Initial Catalog=DBAdminLogin;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="MyAccess.Properties.Settings.DBFacultyLoginConnectionString"
            connectionString="Data Source=LAPTOP-NF2JQDUU;Initial Catalog=DBFacultyLogin;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="MyAccess.Properties.Settings.DBStudentLoginConnectionString"
            connectionString="Data Source=LAPTOP-NF2JQDUU;Initial Catalog=DBStudentLogin;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="MyAccess.Properties.Settings.DBStudentinfoConnectionString"
            connectionString="Data Source=LAPTOP-NF2JQDUU;Initial Catalog=DBStudentinfo;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="MyAccess.Properties.Settings.DBStudSemesterRoutineConnectionString"
            connectionString="Data Source=LAPTOP-NF2JQDUU;Initial Catalog=DBStudSemesterRoutine;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="MyAccess.Properties.Settings.DBAIUBContactsConnectionString"
            connectionString="Data Source=LAPTOP-NF2JQDUU;Initial Catalog=DBAIUBContacts;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="MyAccess.Properties.Settings.DBFacultyinfoConnectionString"
            connectionString="Data Source=LAPTOP-NF2JQDUU;Initial Catalog=DBFacultyinfo;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="MyAccess.Properties.Settings.DBFacultyConsultingConnectionString"
            connectionString="Data Source=LAPTOP-NF2JQDUU;Initial Catalog=DBFacultyConsulting;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
</configuration>